---
import NavAccordion from "./NavAccordion.astro";
import NavItem from "./NavItem.astro";

const components = await Astro.glob("../../pages/components/*.mdx");
const foundations = await Astro.glob("../../pages/foundations/*.mdx");
const layout = await Astro.glob("../../pages/layout/*.mdx");
const utilities = await Astro.glob("../../pages/utilities/*.mdx");
const elements = await Astro.glob("../../pages/elements/*.mdx");
---

<aside class="main-side">
  <nav class="side-nav">
    <div class="side-nav-main">
      <section class="drop-section">
        <ul class="drop-list">
          <li class="drop-list-item">
            <NavItem label="Home" href="/" />
          </li>
          <li class="drop-list-item">
            <NavItem label="Getting Started" href="/getting-started" />
          </li>
          <li class="drop-list-item">
            <NavAccordion title="Foundations" links={foundations} />
          </li>
          <li class="drop-list-item">
            <NavAccordion title="Utilities" links={utilities} />
          </li>
          <li class="drop-list-item">
            <NavAccordion title="Layout" links={layout} />
          </li>
          <li class="drop-list-item">
            <NavAccordion title="Elements" links={elements} />
          </li>
          <li class="drop-list-item">
            <NavAccordion title="Components" links={components} />
          </li>
        </ul>
      </section>
    </div>
  </nav>
</aside>

<script is:inline>
  function unique(arr) {
    return [...new Set(arr)];
  }

  const storedState = localStorage.getItem("pink-side-nav");
  let state = storedState ? storedState.split(",") : [];

  const accordions = document.querySelectorAll(
    "nav.side-nav .collapsible-wrapper"
  );

  accordions.forEach((el) => {
    if (state.includes(el.getAttribute("data-title") ?? "")) {
      el.setAttribute("open", "");
    }

    el.addEventListener("toggle", () => {
      const title = el.getAttribute("data-title") ?? "";
      const isOpen = el.hasAttribute("open");

      if (!title) return;

      if (isOpen) {
        state = unique([...state, title]);
      } else {
        state = state.filter((item) => item !== title);
      }

      localStorage.setItem("pink-side-nav", state.join(","));
    });
  });
</script>

<script is:inline>
  // Scroll to selected item in the side nav
  window.addEventListener("DOMContentLoaded", () => {
    const target = document.querySelector(".is-selected");
    if (target && target.offsetTop > window.innerHeight - 100) {
      const sideNav = document.querySelector(".side-nav-main");
      sideNav.scrollTop = target.offsetTop;
    }
  });
</script>
