---
const listGrayscaleLight = await Astro.glob(
  "../../public/icons/grayscale/light/*.svg"
);
const listGrayscaleDark = await Astro.glob(
  "../../public/icons/grayscale/dark/*.svg"
);
const listColorLight = await Astro.glob("../../public/icons/color/light/*.svg");
const listColorDark = await Astro.glob("../../public/icons/color/dark/*.svg");

const removePublic = (path: string) => path.replace("/public", "");
---

<section
  class="common-section u-margin-block-start-36"
  x-data="{ show: 'gray'}"
>
  <div class="tabs">
    <ul class="secondary-tabs is-large">
      <li class="secondary-tabs-item">
        <button
          class="secondary-tabs-button"
          x-on:click="show = 'gray'"
          :disabled="show === 'gray'"
        >
          <span class="text">Grayscale</span>
        </button>
      </li>
      <li class="secondary-tabs-item">
        <button
          class="secondary-tabs-button"
          x-on:click="show = 'color'"
          :disabled="show === 'color'"
        >
          <span class="text">Color</span>
        </button>
      </li>
    </ul>
  </div>

  <div x-bind:class="show !== 'gray' ? 'u-hide' : ''">
    <div class="u-only-light">
      <ul
        class="grid-box u-margin-block-start-24"
        style="--grid-gap:1rem; --grid-item-size:8rem; --grid-item-size-small-screens:6rem;"
      >
        {
          listGrayscaleLight.map((icon) => {
            const splitName = icon.default.split("/");
            const name = splitName[splitName.length - 1].split(".")[0];
            return (
              <li class="grid-box-item">
                <div class="card u-flex u-flex-vertical u-cross-center u-width-full-line">
                  <img src={removePublic(icon.default)} alt={name} />
                </div>
                <div class="u-flex u-main-center  u-width-full-line u-margin-block-start-4">
                  <code>icon-{name}</code>
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
    <div class="u-only-dark">
      <ul
        class="grid-box u-margin-block-start-24"
        style="--grid-gap:1rem; --grid-item-size:8rem; --grid-item-size-small-screens:6rem;"
      >
        {
          listGrayscaleDark.map((icon) => {
            const splitName = icon.default.split("/");
            const name = splitName[splitName.length - 1].split(".")[0];
            return (
              <li class="grid-box-item">
                <div class="card u-flex u-flex-vertical u-cross-center u-width-full-line">
                  <img src={removePublic(icon.default)} alt={name} />
                </div>
                <div class="u-flex u-main-center  u-width-full-line u-margin-block-start-4">
                  <code>icon-{name}</code>
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <div x-bind:class="show === 'gray' ? 'u-hide' : ''">
    <div class="u-only-light">
      <ul
        class="grid-box u-margin-block-start-24"
        style="--grid-gap:1rem; --grid-item-size:8rem; --grid-item-size-small-screens:6rem;"
      >
        {
          listColorLight.map((icon) => {
            const splitName = icon.default.split("/");
            const name = splitName[splitName.length - 1].split(".")[0];
            return (
              <li class="grid-box-item">
                <div class="card u-flex u-flex-vertical u-cross-center u-width-full-line">
                  <img src={removePublic(icon.default)} alt={name} />
                </div>
                <div class="u-flex u-main-center  u-width-full-line u-margin-block-start-4">
                  <code>icon-{name}</code>
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
    <div class="u-only-dark">
      <ul
        class="grid-box u-margin-block-start-24"
        style="--grid-gap:1rem; --grid-item-size:8rem; --grid-item-size-small-screens:6rem;"
      >
        {
          listColorDark.map((icon) => {
            const splitName = icon.default.split("/");
            const name = splitName[splitName.length - 1].split(".")[0];
            return (
              <li class="grid-box-item">
                <div class="card u-flex u-flex-vertical u-cross-center u-width-full-line">
                  <img src={removePublic(icon.default)} alt={name} />
                </div>
                <div class="u-flex u-main-center  u-width-full-line u-margin-block-start-4">
                  <code>icon-{name}</code>
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</section>
