---
import "@appwrite.io/fonts";
import "@appwrite.io/pink/src/_index.scss";
import "@appwrite.io/pink-icons/dist/icon.scss";
import Header from "@components/layout/Header.astro";
import SideNav from "@components/layout/SideNav.astro";
import Footer from "@components/layout/Footer.astro";
import Cover from "@components/layout/Cover.astro";
import Search from "@components/Search.svelte";

interface Props {
  homepage?: boolean;
}

const showFooter =
  Astro.url.pathname !== "/" && !Astro.url.pathname.includes("getting-started");

const { frontmatter } = Astro.props;

const descriptionFallback =
  "Pink Design is Appwrite's open-source design system for building consistent and reusable user interfaces. Pink is designed to prioritize collaboration, dev experience, and accessibility.";
const titleFallback = "Pink Design - Appwrite's Design System";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {
        frontmatter?.title
          ? `${frontmatter.title} - Pink Design`
          : "Pink Design"
      }
    </title>
    <meta
      name="description"
      content={frontmatter?.description
        ? frontmatter.description
        : descriptionFallback}
    />
    <!-- Primary Meta Tags -->
    <meta
      name="title"
      content={frontmatter?.title
        ? `${frontmatter.title} - Pink Design`
        : titleFallback}
    />
    <meta
      name="description"
      content={frontmatter?.description
        ? frontmatter.description
        : descriptionFallback}
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pink.appwrite.io/" />
    <meta
      property="og:title"
      content={frontmatter?.title
        ? `${frontmatter.title} - Pink Design`
        : titleFallback}
    />
    <meta
      property="og:description"
      content={frontmatter?.description
        ? frontmatter.description
        : descriptionFallback}
    />
    <meta
      property="og:image"
      content="https://pink.appwrite.io/pink-open-graph.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://pink.appwrite.io/" />
    <meta
      property="twitter:title"
      content={frontmatter?.title
        ? `${frontmatter.title} - Pink Design`
        : titleFallback}
    />
    <meta
      property="twitter:description"
      content={frontmatter?.description
        ? frontmatter.description
        : descriptionFallback}
    />
    <meta
      property="twitter:image"
      content="https://pink.appwrite.io/pink-open-graph.png"
    />
    <link rel="stylesheet" href="/prismjs.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <script
      defer
      data-domain="pink.appwrite.io"
      src="https://plausible.io/js/script.js"
    ></script>
  </head>

  <body>
    <script is:inline>
      const defaultTheme = window.matchMedia("(prefers-color-scheme: dark)");
      const theme =
        localStorage.getItem("theme") ??
        (defaultTheme.matches ? "dark" : "light");
      if (theme === "dark") {
        document.body.classList.remove("theme-light");
        document.body.classList.add("theme-dark");
      } else {
        document.body.classList.remove("theme-dark");
        document.body.classList.add("theme-light");
      }
    </script>

    <dialog id="search">
      <Search client:load />
    </dialog>

    <div class="grid-with-side">
      <Header />
      <SideNav />

      <main class="main-content">
        {
          Astro.props.homepage ? (
            <slot />
          ) : (
            <>
              <Cover frontmatter={frontmatter} />
              <div class="container u-margin-block-start-negative-56">
                <div class={Astro.props.noCard ? "" : "card"}>
                  <slot />
                </div>
                {showFooter && <Footer />}
              </div>
            </>
          )
        }
      </main>

      <footer class="main-footer u-margin-block-start-48">
        <div class="main-footer-start">
          <ul class="inline-links is-no-padding-first-and-last u-x-small">
            <li class="inline-links-item">
              <a href="https://appwrite.io/policy/terms" target="_blank"
                ><span class="text">Terms</span>
              </a>
            </li>
            <li class="inline-links-item">
              <a href="https://appwrite.io/policy/privacy" target="_blank"
                ><span class="text">Privacy</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="main-footer-end">
          <ul class="inline-links is-no-padding-first-and-last u-x-small">
            <li class="inline-links-item">
              <span class="text">ⓒ 2023 Appwrite. All rights reserved.</span>
            </li>
          </ul>
        </div>
      </footer>
    </div>

    <script is:inline>
      const searchBtn = document.getElementById("search-btn");
      const searchModal = document.getElementById("search");

      function openSearch() {
        searchModal?.setAttribute("open", "true");
        document.documentElement.style.overflow = "hidden";
        searchModal?.querySelector("input")?.focus();
      }

      function closeSearch() {
        searchModal.removeAttribute("open");
        // Reverted back to auto, overlay is not supported in Safari, Firefox (https://caniuse.com/css-overflow-overlay)
        document.documentElement.style.overflow = "auto";
      }

      searchBtn?.addEventListener("click", openSearch);

      searchModal?.addEventListener("click", (e) => {
        if (e.target === searchModal) {
          closeSearch();
        }
      });

      document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          closeSearch();
        }
        if ((e.ctrlKey || e.metaKey) && e.key === "k") {
          e.preventDefault();
          openSearch();
        }
      });
    </script>
  </body>
</html>

<style lang="scss" is:global>
@use "@appwrite.io/pink/src/abstract" as *;
  pre {
    margin: 0;
  }

  body {
    --search-bg-color: var(--color-neutral-0);
    --search-color: var(--color-neutral-100);
  }
  body.theme-dark {
    --search-bg-color: var(--color-neutral-400);
    --search-color: var(--color-neutral-50);
  }

  .color-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 150px;
    height: 60px;
    border-radius: 4px;
    color: #fff;
  }

  #search {
    /*   font-family: 'Poppins', sans-serif; */
    position: fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
    color: hsl(var(--search-color));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #search[data-open="false"] {
    display: none;
  }

  /* If .card is direct child of a .container class on mobile screen:
   - container horizontal padding will change to 0px
   - card will stretch the page will remove border and  border-radius
   */
  .container:has(> .card) {
    @media #{$break1} {
      --p-container-padding-inline:0;
      .card {
        $padding: pxToRem(20);
        --p-card-padding: var(--card-padding, #{$padding});

        border:none; border-radius:0;
      }
    }
  }
</style>
