---
import CodePreview from "@components/CodePreview.svelte";
import ChatBubble from "@components/homepage/ChatBubble.astro";
import HeroAnimation from "@components/homepage/HeroAnimation.svelte";
import TryItOut from "@components/homepage/TryItOut.svelte";
import JoinCommunity from "@components/JoinCommunity.svelte";
import Layout from "@layouts/Layout.astro";
---

<script>
  const sections = ["#design", "#build", "#collaborate"];

  function isElementInViewport(el: Element) {
    const rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  // Progressive Enhancement: Without JS, everything will animate automatically. Otherwise,
  // We only want it to animate on scroll'
  sections.forEach((id, i) => {
    document
      .querySelector(`${id} > :nth-child(2)`)
      ?.classList.remove("animate");
  });

  var activeSection = 0;

  window.addEventListener("scroll", () => {
    activeSection = sections.reduce((acc, id, index) => {
      const section = document.querySelector(id);
      if (!section) {
        return acc;
      }

      return isElementInViewport(section) ? index : acc;
    }, activeSection);

    sections.forEach((id, i) => {
      if (i === activeSection) {
        document
          .querySelector(
            `#stickyTabs .secondary-tabs-item:nth-child(${i + 1}) a`
          )
          ?.classList.add("is-disabled");

        document
          .querySelector(`${id} > :nth-child(2)`)
          ?.classList.add("animate");
      } else {
        document
          .querySelector(
            `#stickyTabs .secondary-tabs-item:nth-child(${i + 1}) a`
          )
          ?.classList.remove("is-disabled");
      }
    });
  });

  const tabButtons = document.querySelectorAll("#stickyTabs a");
  tabButtons.forEach((button, i) => {
    button.addEventListener("click", (e) => {
      e.preventDefault();
      const id = sections[i];

      const section = document.querySelector(id) as HTMLElement;
      const sectionRect = section?.getBoundingClientRect();

      if (!sectionRect) {
        return;
      }

      const isMobile = window.innerWidth < 768;
      const offset = isMobile
        ? -120
        : -sectionRect.height / 2 - (150 * window.innerHeight) / 1440;

      window.scrollTo({
        top: section.offsetTop + offset,
        behavior: "smooth",
      });
    });
  });
</script>

<Layout homepage>
  <div class="container hero-top-container">
    <div class="hero u-text-center">
      <section class="u-max-width-650 u-margin-inline-auto">
        <h1 class="eyebrow-heading-3 u-color-text-pink">Pink Design</h1>
        <h2 class="heading-level-1 u-margin-block-start-16">
          Design. Build. Collaborate.
        </h2>
        <p class="body-text-1 u-normal u-margin-block-start-16">
          Pink Design is Appwrite's open-source design system for building
          consistent and reusable user interfaces. Pink is designed to
          prioritize collaboration, dev experience, and accessibility.
        </p>

        <ul class="hero-buttons u-flex u-gap-16 u-main-center">
          <li>
            <a href="/getting-started" class="button" title="Get Started">
              <span class="text">Get Started</span>
            </a>
          </li>
        </ul>
      </section>
      <HeroAnimation client:load />
    </div>
  </div>

  <div class="container">
    <ul
      class="box secondary-tabs is-large u-main-center u-margin-inline-auto u-margin-block-start-16"
      id="stickyTabs"
    >
      <li class="secondary-tabs-item">
        <a class="secondary-tabs-button" href="#design">
          <span class="text">Design</span>
        </a>
      </li>
      <li class="secondary-tabs-item">
        <a class="secondary-tabs-button" href="#build">
          <span class="text">Build</span>
        </a>
      </li>
      <li class="secondary-tabs-item">
        <a class="secondary-tabs-button" href="#collaborate">
          <span class="text">Collaborate</span>
        </a>
      </li>
    </ul>

    <section class="grid-1-1 u-gap-16" id="design">
      <div class="grid-1-1-col-1 u-max-width-450">
        <h2 class="heading-level-4">Design</h2>
        <p class="u-margin-block-start-8">
          Design and create simple, consistent and user friendly features when
          contributing to Appwrite, or use our components for your own products
        </p>
        <ul class="list u-margin-block-start-32">
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text">Fully accessibile</span>
          </li>
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text">Light and dark mode support</span>
          </li>
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text">Optimized for Dev tooling</span>
          </li>
        </ul>
      </div>
      <div class="grid-1-1-col-2 animate">
        <div class="grid-1-1 u-gap-32">
          <div class="u-grid u-gap-32">
            <div
              class="drop u-width-fit-content u-main-end u-position-relative"
              style="z-index:0; inset:auto; justify-self:end;"
            >
              <section class="drop-section">
                <ul class="drop-list">
                  <li class="drop-list-item">
                    <button class="drop-button">
                      <span class="text">Create</span>
                      <span
                        class="icon-plus u-margin-inline-start-auto"
                        aria-hidden="true"></span>
                    </button>
                  </li>
                  <li class="drop-list-item">
                    <button class="drop-button">
                      <span class="text">Delete</span>
                      <span
                        class="icon-trash u-margin-inline-start-auto"
                        aria-hidden="true"></span>
                    </button>
                  </li>
                </ul>
              </section>
            </div>
            <div class="u-flex u-main-end u-gap-16">
              <div class="avatar" aria-label="user image">
                <span class="icon-user" aria-hidden="true"></span>
              </div>
              <button class="button is-secondary"
                ><span class="text">Secondary</span>
              </button>
              <button class="button"><span class="text">Primary</span></button>
            </div>
            <button class="card u-text-center">
              <span class="avatar u-margin-inline-auto">
                <span class="icon-plus" aria-hidden="true"></span>
              </span>
              <span class="u-block u-margin-block-start-24"
                >Create a new object</span
              >
            </button>
          </div>
          <div
            class="card is-no-mobile"
            style="--card-padding:0.75rem; --card-border-radius:0;"
          >
            <section class="drop-section">
              <ul class="drop-list">
                <li class="drop-list-item">
                  <a class="drop-button" href="/">
                    <span class="icon-chart-bar" aria-hidden="true"></span>
                    <span class="text">Overview</span>
                  </a>
                </li>
                <li class="drop-list-item">
                  <a class="drop-button" href="/">
                    <span class="icon-user-group" aria-hidden="true"></span>
                    <span class="text">Auth</span>
                  </a>
                </li>
                <li class="drop-list-item">
                  <a class="drop-button" href="">
                    <span class="icon-database" aria-hidden="true"></span>
                    <span class="text">Database</span>
                  </a>
                </li>
                <li class="drop-list-item">
                  <a class="drop-button" href="/">
                    <span class="icon-lightning-bolt" aria-hidden="true"></span>
                    <span class="text">Functions</span>
                  </a>
                </li>

                <li class="drop-list-item">
                  <a class="drop-button" href="/users.html">
                    <span class="icon-folder" aria-hidden="true"></span>
                    <span class="text">Storage</span>
                  </a>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </section>

    <section class="grid-1-1 u-gap-16 u-margin-block-start-300" id="build">
      <div class="grid-1-1-col-1 u-max-width-450">
        <h2 class="heading-level-4">Build</h2>
        <p class="u-margin-block-start-8">
          Design system created with developer experience in mind, with support
          of our internal developer team
        </p>
        <ul class="list u-margin-block-start-32">
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text"
              >Easy to integrate with your preferred framework</span
            >
          </li>
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text">Only one CSS file is needed</span>
          </li>
        </ul>

        <ul class="u-flex u-gap-16 u-margin-block-start-32">
          <li>
            <a href="/getting-started" title="Getting Started Guide" class="button is-secondary">
              <span class="text">Getting started guide</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="grid-1-1-col-2 u-flex u-flex-vertical u-gap-16 animate">
        <section class="apple-window">
          <header class="u-flex u-gap-8">
            <div class="apple-window-button is-red"></div>
            <div class="apple-window-button is-yellow"></div>
            <div class="apple-window-button is-green"></div>
          </header>
          <div
            class="box u-direction-ltr u-overflow-hidden u-border-width-0 u-margin-block-start-12"
          >
            <CodePreview code="npm install @appwrite.io/pink" />
          </div>
        </section>

        <section class="apple-window">
          <header class="u-flex u-gap-8">
            <div class="apple-window-button is-red"></div>
            <div class="apple-window-button is-yellow"></div>
            <div class="apple-window-button is-green"></div>
          </header>
          <div
            class="box u-direction-ltr u-overflow-hidden u-border-width-0 u-margin-block-start-12"
          >
            <CodePreview
              code='import "@appwrite.io/pink";'
              language="javascript"
              lineNumbers
            />
          </div>
        </section>
        <div class="framework">
          <img src="/images/angular.svg" alt="Angular logo" />
        </div>
        <div class="framework">
          <img src="/images/vue.svg" alt="Vue Logo" />
        </div>
        <div class="framework">
          <img src="/images/react.svg" alt="React Logo" />
        </div>
        <div class="framework u-hide">
          <img src="/images/solid.svg" alt="Solid Logo" />
        </div>
        <div class="framework">
          <img src="/images/svelte.svg" alt="Svelte Logo" />
        </div>
      </div>
    </section>

    <section
      class="grid-1-1 u-gap-16 u-margin-block-start-300"
      id="collaborate"
    >
      <div class="grid-1-1-col-1">
        <h2 class="heading-level-4">Collaborate</h2>
        <p class="u-margin-block-start-8">
          One (open) source of truth for collaborating with others on Appwrite,
          or your own products
        </p>
        <ul class="list u-margin-block-start-32">
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text"
              >Documentation and tips on usage of components</span
            >
          </li>
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text">Fully open source</span>
          </li>
          <li class="list-item">
            <span class="icon-check" aria-hidden="true"></span>
            <span class="text">Collaborate with us in Discord and GitHub</span>
          </li>
        </ul>
        <ul class="u-flex u-gap-16 u-margin-block-start-32">
          <li>
            <a
              href="https://github.com/appwrite/pink"
              title="GitHub"
              target="_blank"
              rel="noopener noreferrer"
              class="button is-secondary"
            >
              <span class="icon-github" aria-hidden="true"></span>
              <span class="text">GitHub</span>
            </a>
          </li>
          <li>
            <a
              href="https://appwrite.io/discord"
              title="Discord"
              target="_blank"
              rel="noopener noreferrer"
              class="button is-secondary"
            >
              <span class="icon-discord" aria-hidden="true"></span>
              <span class="text">Discord</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="grid-1-1-col-2 animate">
        <div class="u-grid u-gap-24 u-margin-block-start-48 anim-wrapper">
          <div class="u-flex u-cross-center u-gap-16 top-rect">
            <img src="/images/collab-avatar-1.png" alt="Smiling avatar" />
            <ChatBubble />
          </div>
          <div class="u-flex u-cross-center u-gap-16 bottom-rect">
            <ChatBubble invert />
            <img src="/images/collab-avatar-2.png" alt="Smiling avatar" />
          </div>

          <div class="color-card">
            <div class="thumb"></div>
            <span class="code">#F02E65</span>
            <span class="opacity">100%</span>
          </div>

          <div class="git-commit">
            <code>$ git commit</code>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <TryItOut client:load />

    <section class="u-margin-block-start-200">
      <h2 class="heading-level-4">Articles</h2>
      <div class="articles">
        <ul class="articles-list is-mobile-scroll">
          {
            new Array(3).fill(0).map((_) => {
              return (
                <li>
                  <a href="">
                    <article class="articles-item">
                      <img
                        class="articles-item-image"
                        src="https://res.cloudinary.com/practicaldev/image/fetch/s--t-vW3rrT--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/3h80upm9gt0aiwyg753h.png"
                        alt=""
                      />
                      <div class="articles-item-content">
                        <header class="articles-item-header">
                          <h3 class="body-text-1 u-trim-2">
                            <span class="text">Announcement</span>
                          </h3>
                        </header>
                        <p class="u-trim-3 u-margin-block-start-8">
                          After several months of hard work by our design an d
                          engineering teams, we’re excited to announce and
                          showcase the
                        </p>
                        <div class="read-time u-margin-block-start-8">
                          3 min read
                        </div>
                      </div>
                    </article>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
      <button class="button is-secondary u-margin-block-start-24">
        <span class="text">View all articles</span>
        <span class="icon-cheveron-right" aria-hidden="true"></span>
      </button>
    </section>

    <section
      class="join-community u-text-center u-max-width-700 u-margin-inline-auto u-margin-block-start-200"
    >
      <h2 class="heading-level-4">Join Our Growing Developer Community</h2>
      <p class="u-margin-block-start-8">
        Design and develop with us the best developer experience out there!
      </p>

      <JoinCommunity client:load />

      <ul class="u-flex u-gap-16 u-main-center u-margin-block-start-40">
        <li>
          <a
            href="https://github.com/appwrite/pink"
            title="GitHub"
            target="_blank"
            rel="noopener noreferrer"
            class="button is-secondary"
          >
            <span class="icon-github" aria-hidden="true"></span>
            <span class="text">
              <span class="is-no-mobile">Join us on</span> GitHub
            </span>
          </a>
        </li>
        <li>
          <a
            href="https://appwrite.io/discord"
            title="Discord"
            target="_blank"
            rel="noopener noreferrer"
            class="button is-secondary"
          >
            <span class="icon-discord" aria-hidden="true"></span>
            <span class="text">
              <span class="is-no-mobile">Join us on</span> Discord
            </span>
          </a>
        </li>
      </ul>
    </section>
  </div>
</Layout>

<style lang="scss" is:global>
  @use "../../../../packages/ui/src/abstract" as *;

  * {
    scroll-behavior: smooth;
  }

  :root {
    $container-max-size: pxToRem(1220);
    --container-max-size: #{$container-max-size};
  }

  body {
    &#{$theme-dark} {
      --p-body-bg-color: var(--color-neutral-500);
    }
  }

  .main-content {
    --p-main-bg-color: var(--color-neutral-0);
    background-color: hsl(var(--p-main-bg-color));

    #{$theme-dark} & {
      --p-main-bg-color: var(--color-neutral-500);
    }
  }

  .hero-top-container {
    @media #{$break1} {
      margin-block-start: pxToRem(24);
    }
    @media #{$break2open} {
      margin-block-start: pxToRem(40);
    }
  }
  .hero {
    padding-inline: 1rem;
    background: linear-gradient(
      0deg,
      rgba(242, 242, 248, 0) 40%,
      rgba(242, 242, 248, 0.6) 100%
    );
    border-radius: var(--border-radius-medium);

    @media #{$break1} {
      padding-block-start: pxToRem(32);

      margin-block-end: pxToRem(24);
      &-buttons {
        margin-block-start: pxToRem(32);
        transform: translateY(50%);
      }
    }
    @media #{$break2open} {
      padding-block-start: pxToRem(80);
      padding-block-end: pxToRem(96);
      &-buttons {
        margin-block-start: pxToRem(40);
      }
    }

    #{$theme-dark} & {
      background: linear-gradient(
        0deg,
        rgba(40, 42, 59, 0) 40%,
        rgba(40, 42, 59, 0.6) 100%
      );
    }
  }

  @keyframes section-enter {
    0% {
      opacity: 0;
      translate: 0 32px;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }

  #design,
  #build,
  #collaborate {
    scroll-margin-top: 20rem;
    > :nth-child(2) {
      visibility: hidden;

      &.animate {
        visibility: visible;
        animation: section-enter 500ms ease;
      }
    }
  }

  #design {
    margin-block-start: 180px;
  }

  #build {
    margin-block: 512px;
  }

  #build > :nth-child(2) {
    position: relative;

    .framework {
      display: none;
    }
    @media #{$break2open} {
      &.animate {
        .framework {
          @keyframes framework-enter {
            0% {
              opacity: 0;
              scale: 1.5;
            }
            100% {
              opacity: 1;
              scale: 1;
            }
          }

          display: grid;
          place-items: center;
          position: absolute;
          pointer-events: none;

          background-color: hsl(var(--color-neutral-0));
          box-shadow: var(--shadow-small);
          border-radius: 999px;

          opacity: 0;

          --anim-duration: 400ms;

          .theme-dark & {
            background-color: hsl(var(--color-neutral-200));
          }

          img {
            inline-size: pxToRem(24);
            block-size: pxToRem(24);
            object-fit: contain;
          }

          // Angular
          &:nth-last-child(5) {
            inset-block-start: 90%;
            inset-inline-start: 65%;

            inline-size: pxToRem(52);
            block-size: pxToRem(52);

            animation: framework-enter var(--anim-duration)
              calc(var(--anim-duration) * 2) ease forwards;
          }

          // Vue
          &:nth-last-child(4) {
            inset-block-start: 35%;
            inset-inline-start: 80%;

            inline-size: pxToRem(52);
            block-size: pxToRem(52);

            animation: framework-enter var(--anim-duration)
              calc(var(--anim-duration) * 4) ease forwards;
          }

          // React
          &:nth-last-child(3) {
            inset-block-start: 80%;
            inset-inline-start: 79.25%;

            inline-size: pxToRem(62);
            block-size: pxToRem(62);

            animation: framework-enter var(--anim-duration)
              calc(var(--anim-duration) * 3) ease forwards;
          }

          // Solid
          &:nth-last-child(2) {
            inset-block-start: 90%;
            inset-inline-start: 95.5%;

            inline-size: pxToRem(62);
            block-size: pxToRem(62);

            animation: framework-enter var(--anim-duration)
              calc(var(--anim-duration) * 6) ease forwards;
          }

          // Svelte
          &:nth-last-child(1) {
            inset-block-start: 40%;
            inset-inline-start: 95%;

            inline-size: pxToRem(70);
            block-size: pxToRem(70);

            animation: framework-enter var(--anim-duration)
              calc(var(--anim-duration) * 5) ease forwards;
          }
        }
      }
    }
  }

  @keyframes info-scale {
    from {
      scale: 1.5;
      opacity: 0;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }

  #collaborate > :nth-child(2) {
    $anim-speed: 0.6;

    &.animate {
      visibility: visible;
      animation: none;

      .anim-wrapper {
        position: relative;

        > * {
          opacity: 0;
        }

        .top-rect {
          animation-name: section-enter;
          animation-duration: calc(1600ms * $anim-speed);
          animation-delay: calc(400ms * $anim-speed);
          animation-timing-function: ease-out;
          animation-fill-mode: forwards;
        }

        .bottom-rect {
          animation-name: section-enter;
          animation-duration: calc(1600ms * $anim-speed);
          animation-delay: calc(2200ms * $anim-speed);
          animation-timing-function: ease-out;
          animation-fill-mode: forwards;
        }

        .color-card {
          display: flex;
          align-items: center;

          position: absolute;
          top: -5%;
          left: 52.5%;

          background: #fff;
          box-shadow: var(--shadow-large);
          color: rgb(55, 59, 78);
          border: 1px solid #f2f2f8;
          border-radius: 6px;
          padding-inline: 4px;
          opacity: 0;

          animation-name: info-scale;
          animation-duration: calc(800ms * $anim-speed);
          animation-delay: calc(1400ms * $anim-speed);
          animation-timing-function: ease-out;
          animation-fill-mode: forwards;

          .thumb {
            background-color: #f02e65;
            width: 16px;
            height: 16px;
            border-radius: 3px;
          }

          .code {
            margin-left: 6px;
          }

          .opacity {
            position: relative;
            margin-left: 12px;

            &::before {
              display: block;
              position: absolute;
              left: -6px;
              top: 0;

              background: #f2f2f8;
              content: " ";

              width: 1px;
              height: 100%;

              .theme-dark & {
                background: hsla(229, 17%, 26%, 1);
              }
            }
          }

          .theme-dark & {
            background: hsl(240, 19%, 13%);

            border-color: hsla(229, 17%, 26%, 1);
            color: white;
          }
        }

        .git-commit {
          position: absolute;
          bottom: -5%;
          left: 5%;

          background-color: white;
          border: 1px solid #e9eaf1;
          border-radius: 4px;
          box-shadow: var(--shadow-large);
          padding: 0 4px;

          opacity: 0;

          animation-name: info-scale;
          animation-duration: calc(800ms * $anim-speed);
          animation-delay: calc(3200ms * $anim-speed);
          animation-timing-function: ease-out;
          animation-fill-mode: forwards;

          .theme-dark & {
            background: hsl(240, 19%, 13%);

            border-color: hsla(229, 17%, 26%, 1);
            color: white;
          }
        }
      }
    }
  }

  .apple-window {
    --p-apple-window-bg-color: var(--color-neutral-0);
    --p-apple-window-border-color: var(--color-border);

    display: flex;
    flex-direction: column;
    background-color: hsl(var(--p-apple-window-bg-color));
    border: solid pxToRem(1) hsl(var(--p-apple-window-border-color));
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-large);
    padding: pxToRem(16);
    :where(.box) {
      flex: 1;
    }

    &-button {
      --p-button-bg-color: var(--color-blue-100);
      inline-size: pxToRem(10);
      block-size: pxToRem(10);
      background-color: hsl(var(--p-button-bg-color));
      border-radius: var(--border-radius-circular);

      &.is-red {
        --p-button-bg-color: var(--color-red-100);
      }
      &.is-yellow {
        --p-button-bg-color: var(--color-orange-100);
      }
      &.is-green {
        --p-button-bg-color: var(--color-green-100);
      }
    }

    #{$theme-dark} & {
      --p-apple-window-bg-color: var(--color-neutral-300);
    }
  }

  .read-time {
    --p-text-color: var(--color-neutral-70);
    color: hsl(var(--p-text-color));
  }

  .articles {
    margin-block-start: pxToRem(24);
    &-list {
      display: grid;
      gap: pxToRem(32);
      grid-template-columns: repeat(auto-fill, minmax(pxToRem(352), 1fr));

      &:focus-within {
        a {
          display: block;
          border-radius: var(--border-radius-small);
          filter: drop-shadow(var(--focus-box-shadow));
        }
      }

      &.is-mobile-scroll {
        @media #{$break1} {
          .articles-item {
            inline-size: 70vw;
          }
        }
        @media #{$break2} {
          .articles-item {
            min-inline-size: pxToRem(352);
          }
        }
        @media #{$break1}, #{$break2} {
          display: flex;
          overflow: auto;
        }
      }
    }
    &-item {
      --p-article-item-bg-color: var(--color-neutral-0);

      background-color: hsl(var(--p-article-item-bg-color));
      border: solid pxToRem(1) hsl(var(--color-border));
      border-radius: var(--border-radius-small);
      box-shadow: var(--shadow-small);
      overflow: hidden;

      &-header {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      }
      &-image {
        display: block;
        inline-size: 100%;
        aspect-ratio: 16/9.5;
        object-fit: cover;
      }
      &-content {
        padding: pxToRem(24);
      }

      #{$theme-dark} & {
        --p-article-item-bg-color: var(--color-neutral-200);
      }
    }
  }
  .read-time {
  }

  #stickyTabs {
    position: sticky;
    inset-block-start: pxToRem(80);
    z-index: 1;
    inline-size: fit-content;
    padding: pxToRem(8);

    border-radius: var(--border-radius-small);
  }

  .SG-box-shadow-32 {
    box-shadow: 0 pxToRem(16) pxToRem(32) rgba(55, 59, 77, 0.02);
  }
</style>
